* {
  box-sizing: border-box;
}

body {
  padding: 5vh 5vw;
  background: url('../img/main_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  max-width: 700px;
}

select {
  width: 250px;
  margin-bottom: 10px;
  padding: 8px 15px;
}

select:focus {
  border: 3px solid #762d53 !important;
  outline: none;
}

.custom-select {
}

.custom-select > option{
  background-color: #8b33713a;
  border: 3px solid lightgray;
  padding: 8px 32px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

#results {
  position: fixed;
  max-height: 30vh;
}

@media screen and (max-width: 900px) {
  #results {
    display: inline-block;
    max-height: auto;
  }
}

@media screen and (min-width: 1280px) {
  #results {
    max-height: 15vh;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

/* SPINNER STYLE */
#spinner {
  display: none;
  margin-left: 50px;
  vertical-align: -70%;
}

.line-scale > div {
  background-color: #1db954;
}

.logout {
  color: #696969;
}
.logout:hover {
  color: #404040;
}